[submodule "parent"]
	path = parent
	url = https://github.com/m-m-m/parent.git
[submodule "l10n"]
	path = l10n
	url = https://github.com/m-m-m/l10n.git
[submodule "util"]
	path = util
	url = https://github.com/m-m-m/util.git
[submodule "orient"]
	path = orient
	url = https://github.com/m-m-m/orient.git
[submodule "jpa"]
	path = jpa
	url = https://github.com/m-m-m/jpa.git
[submodule "service"]
	path = service
	url = https://github.com/m-m-m/service.git
[submodule "transaction"]
	path = transaction
	url = https://github.com/m-m-m/transaction.git
[submodule "client"]
	path = client
	url = https://github.com/m-m-m/client.git
[submodule "music"]
	path = music
	url = https://github.com/m-m-m/music.git
